<h1>Listing entries</h1>
<table> 
  <tr>
  <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
</table>

<div id="entries">
  <%= render @entries %>
</div>


<h3>Add your new entry:</h3>

<%= render 'form' %>